// ===== FOOTER STYLES =====
@use 'variables' as *;

footer {
  background: $primary-color;
  color: $text-dark;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}